<template>
<menu class="p-0 m-0" :class="{
    'w-64': !reduced,
    'w-12': reduced
}">
    Modules lives here next!
</menu>
</template>

<script>
export default {
    name:'Side',
    computed: {
        reduced() { return this.$store.getters['navigation/isReduced'] }
    }
}
</script>
