<template>
  <div class="flex w-full justify-between h-12">
    <div class="p-3 text-white">
      <div class="flex items-center h-full">
        <fa-icon icon="bars" size="lg" class="md:hidden"/>
        <img class="w-3/5 block m-auto hidden md:block" src="~assets/images/logo.png">
        <fa-icon icon="bars" size="lg" class="hidden md:block" @click="updateSide"/>
      </div>
    </div>
    <div class="md:hidden">
      <div class="flex items-center h-full">
        <img class="w-3/5 block m-auto" src="~assets/images/logo.png">
      </div>
    </div>
    <div class="flex items-center">
      <div class="hidden md:flex">
        <a class="text-white px-2">FR</a>
        <a class="text-white px-2">Kévin Maurice - Administrateur Deliver Up</a>
      </div>
      <a class="bg-red-light p-3 text-white" @click="logout">
        <div class="flex items-center h-full">
          <fa-icon icon="sign-out-alt" size="lg"/>
        </div>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Top',
  methods: {
    logout() { this.$store.dispatch('auth/logout') },
    updateSide() {
      if(this.$store.getters['navigation/isReduced']) {
        this.$store.commit('navigation/setToExpanded')
      } else {
        this.$store.commit('navigation/setToReduced')
      }
    }
  }
}
</script>

