<template>
  <div class="dropdown w-auto relative">
    <button
      class="p-2"
      @click="show = !show"
    >
      <template v-if="staticTitle">
        {{ title }}
      </template>

      <template v-else>
          {{ selectedTitle }}
      </template>

      <fa-icon class="ml-2" :transform="{rotate: rotation}" icon="caret-down"/>
    </button>

  <div
    class="dropdown-menu bg-white absolute"
    :class="{
        top
    }"
    v-show="show"
  >
    <ul class="list-reset">
        <li
            v-for="(item, key) in items"
            :key="key"
            class="bg-orange-light p-2"
            @click="clicked(item)"
        >
            <a class="w-full h-full"> {{ item[itemTitle] }} </a>
        </li>
    </ul>
  </div>
</div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    items: {
      type: Array,
      required: true
    },
    itemTitle: {
      type: String,
      default: "title"
    },
    staticTitle: {
      type: Boolean,
      default: false
    },
    default: {
      type: Object,
      default: null
    },
    top: {
      type: Boolean,
      default: () => {
        return false;
      }
    }
  },
  data() {
    return {
      show: false,
      selected: null
    };
  },
  computed: {
    rotation() {
      return this.show ? 180 : 0;
    },
    selectedTitle() {
      return !!this.selected
        ? this.selected[this.itemTitle]
        : this.items[0][this.itemTitle];
    }
  },
  methods: {
    clicked(item) {
      this.selected = item;
      this.$emit("selected", item);
    }
  }
};
</script>


<style lang="postcss">
.top {
  top: auto;
  bottom: 100%;
}
</style>