<template>
  <div class="w-full h-screen flex flex-col md:flex-col">
    <top/>
    <div class="flex flex-row h-full">
      <side class="hidden md:flex"/>
      <div class="bg-white w-full h-full">
        Content live here next!
        <nuxt/>
      </div>
    </div>

  </div>
</template>

<script>
//Libraries
import Echo from "laravel-echo"
import Pusher from 'pusher-js'

// Components
import Top from '~/components/layout/Top.vue'
import Side from '~/components/layout/Side.vue'
import Cookie from 'js-cookie'

export default {
  components: { Top, Side },
  mounted() {
    if(this.$store.getters['auth/isAuthenticated']) {
      this.$axios.setToken(Cookie.get('token'), 'Bearer')

      // const echo = new Echo({
      //   broadcaster: 'pusher',
      //   key: process.env.pusher,
      //   cluster: 'eu',
      //   encrypted: true
      // })

      // echo.channel('testing')
      //   .listen('TestPusherEvent', (e) => {
      //       console.log('roubzoz');
      //   });
    }
  }
}
</script>
