<template>
  <section class="container">
    <div>
      Dashboard
      Private part!
      <button @click="getUser">Send something</button>
      <!-- <dropdown-button title="Dropdown" :items="items"/> -->
      <button @click="logout" class="rounded p-2 bg-red-light text-white">Logout</button>
    </div>
  </section>
</template>

<script>
import DropdownButton from "~/components/DropdownButton"

export default {
  layout: "private",
  components: {
    DropdownButton
  },
  data() {
    return {
      items: [
        {
          title: "item 1"
        },
        {
          title: "item 2"
        }
      ]
    }
  },
  methods: {
    async getUser() {
      //let test = await this.$axios.$get('api/nuxt')
    },
    logout() {
      this.$store.dispatch("auth/logout")
    }
  }
}
</script>