<template>
    <section class="flex h-screen justify-between">
      <div class="w-full text-grey-darker bg-white sm:w-3/5 md:w-1/3">
        <div class="flex flex-row h-screen flex-wrap content-between pb-8">

          <div class="w-2/3 m-auto flex flex-col justify-between h-48 md:h-64">
            <div class="w-3/5 mx-auto p-2 bg-grey-darker text-white text-center text-sm rounded-b-lg">
                Production 1.0.0
            </div>
            <img src="~assets/images/login.png">
          </div>

          <div class="w-full md:px-8 lg:mx-auto">
            <form class="px-8" @submit.prevent="authenticate">
              <div class="mb-8">
                <label class="block text-grey-darker text-md font-bold mb-3" for="username">
                  E-mail
                </label>
                <input class="border-b border-blue-dark w-full py-2 px-3 text-grey-darker" id="email" type="text" placeholder="abc@xyz.com" v-model="username">
              </div>
              <div class="mb-6">
                <label class="block text-grey-darker text-md font-bold mb-3" for="password">
                  Mot de passe
                </label>
                <input class="border-b border-blue-dark w-full py-3 px-3 text-grey-darker mb-3" id="password" type="password" v-model="password">
                <!-- <p class="text-red text-xs italic">Please choose a password.</p> -->
              </div>

              <button class="bg-blue-dark w-full text-white font-bold mb-3 py-2 px-4 rounded-full trans hover:bg-blue-darker" type="submit">
                Connexion
              </button>
              <p class="text-sm text-grey-darker">Mot de passe perdu ?</p>
              <a class="text-sm text-grey-darker hover:text-grey-darkest" href="#">
                Réinitialiser le mot de passe
              </a>
            </form>
          </div>

          <div class="m-auto">
            <dropdown-button class="text-center mb-4" top :items="locales" title="lang" itemTitle="name" @selected="selected"/>
            <p class="text-center text-xs w-full">
              Deliver Up © {{ year }}
            </p>
          </div>

        </div>
      </div>

      <div class="flex-1 text-grey-light text-center hidden sm:block">
        Describ something
        {{ $t("hello") }}
      </div>
    </section>
</template>

<script>
import moment from "moment"
import DropdownButton from "~/components/DropdownButton"

export default {
  components: {
    DropdownButton
  },
  data() {
    return {}
  },
  computed: {
    year() {
      return moment().format("Y")
    },
    locales() {
      return this.$store.getters["locales/getLocales"]
    }
  },
  mounted() {
    console.log(this.$t("hello"))
  },
  methods: {
    authenticate() {
      this.$store.dispatch("auth/authenticate", {
        email: this.username,
        password: this.password
      })
    },
    selected(val) {
      // Update lang
      this.$store.commit("locales/setCurrentLocale", val.code)
    }
  }
}
</script>
